#/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
.pytest_cache/
.coverage
coverage.xml
*.cover
# Jupyter .gitignore
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py
*.ipynb_metadata
.jupyter/
# Local .gitignore
maps/
.idea/
*.parquet